body,html {
    margin: 0;
    padding: 0;
    background-color: white;
}

.content-warp{
    height: 200px;
    width: 80%;
    margin: 100px auto;
}

.avatar{
    display:inline-block;
    width: 20%;
}


.input-comment{
    margin-left: 100px ;
    display:inline-block;
    width: 60%;
}

textArea{
    margin-top: 100px;
    width: 99%;
}

.message-title{
    width: 100%;
    text-align: center;
    margin: auto;
    padding-bottom: 50px;
}

.myImg {
    display: block;

    margin-top:-180px;
    width: 200px;
}


