table {
    border-top: 1px solid #444444;
    border-collapse: collapse;
}
th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
}

.checkBoxTd{
    width: 30px;
}

.titleTd{
    width: 150px;
}
.artistTd{
    width: 300px;
}
.likeTd{
    width: 200px;
}
.songTd{
    width:350px;
}
.imgDiv{
    width: 70%;
    margin: auto;
}
.mySpan {
    font-size: 20px;
    font-weight: 800;
    color: #93D302;
}


.nickName{
    font-size: 20px;
    font-weight: 800;
    color: #FC86AA;
}

.warp-contents{
    width: 80%;
    margin: auto;
    padding-top: 200px;
}

.nickName{
    font-size: 30px;
    font-weight: 800;
    color: #FC86AA;
}

.mySpan {
    font-size: 30px;
    font-weight: 800;
}
